.working-status {
	padding: 4px 8px;
	background-color: var(--stripe);
	width: min-content;
	border-radius: 4px;
	max-width: 100%;
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--main-grey);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
}