.assignment-creation {
	background-color: #ffffff;
	border-radius: 16px;
	height: 100%;
	max-width: 541px;
	display: flex;
	flex-direction: column;
}

.assignment-creation-top {
	padding: 12px 25px 12px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #F2F4F5;
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}
	&__close {
		position: absolute;
		right: 25px;
	}
	.btn {
		padding: 0px;
		border: none;
	}
}
.assignment-creation-content {
	padding: 24px 24px 0;
	flex-grow: 1;
	overflow-y: auto;
	&__head {
		margin-bottom: 16px;
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		color: var(--main-black);
	}
	& > * {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__work-time {
		width: 47%;
	}
	&__header {
		display: flex;
		align-items: center;
		padding: 2px 0;
		margin-bottom: 4px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #4D5F69;
		p + p {
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.08px;
			color: var(--main-red);
			margin-left: 2px;
		}
	}
	.form-select {
		border: 1px solid #CCD9E0;
		padding: 12px 2.25rem 12px 12px;
		border-radius: 8px;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: var(--main-black);
	}
	.form-control {
		&, &--deadline {
			border: 1px solid #CCD9E0;
			padding: 12px;
			border-radius: 8px;
			height: 48px;
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			color: var(--main-grey);
		}
		&--deadline {
			text-align: center;
			width: 100%;
			position: relative;
			background-color: transparent;
			&:active, &:focus {
				outline: none !important;
			} 
		}
		&:disabled {
			background-color: #ECF1F4;
			pointer-events: none;
		}
	}
	.disabled {
		background-color: #ECF1F4;
		pointer-events: none;
	}
	.form-control[name="textarea"] {
		height: 76px !important;
		resize: none !important;
		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #b6b7bf;
			border-radius: 16px;
		}
	}
	.form-check {
		display: flex;
		flex-direction: column;
		padding-left: 0px;
		&-input {
			width: 18px;
			height: 18px;
			margin: 0 24px 13px 0;
		}
		&-label {
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			width: 18px;
			text-align: center;
			color: var(--main-grey);
		}
	}
	&__needs-solution  {
		padding: 10px 0px;
		&.disabled {
			.switch {
				opacity: 0.3;
			}
			background-color: transparent;
		}
		.switch {
			align-items: center;
			&__caption {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			}
		}
	}
	&__check-list  {
		padding: 4px 0;
	}
	&__add {
		display: flex;
		color: var(--survey-blue);
		padding: 0;
		border: none;
		--bs-btn-active-color: var(--survey-blue);
		--bs-btn-color: var(--survey-blue);
		--bs-btn-hover-color: var(--survey-blue);
		p {
			margin-left: 12px;
		}
	}
	&__assign {
		margin-top: 16px;
		color: var(--survey-blue);
		border: 2px solid var(--survey-blue) !important;
		padding: 9px 0 8px !important;
		width: 100%;
		border-radius: 8px;
		background-color: transparent;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.1875;
	}
}

.input {
	&.disabled {
		background-color: #ECF1F4;
		pointer-events: none;
	}
	position: relative;
	&__close, &__calendar, &__clock  {
		padding: 0;
		border: none;
		background-color: transparent;
	}
	&__calendar {
		position: absolute;
		top: calc(50% - 14px);
		left: 12px;
		img {
			width: 16px;
			height: 16px;
		}
	}
	&__clock {
		position: absolute;
		top: 8px;
		left: 12px;
		img {
			width: 16px;
			height: 16px;
		}
	}
	&__close{
		position: absolute;
		top: 9px;
		right: 15px;
		img {
			width: 10px;
			height: 10px;
		}
	}
	&__tags, &__planned-terms {
		display: flex;
		border: 1px solid #CCD9E0;
		border-radius: 8px;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
	}
	&__tags {
		flex-wrap: wrap;
		align-items: center;
		padding: 12px 12px 8px;
		& > * {
			margin-right: 4px;
			margin-bottom: 4px;
		}
	}
	&__planned-terms {
		padding: 12px 12.5%;
		justify-content: space-between;
		align-items: center;
		input {
			border: none;
			text-align: center;
			width: 145px;
			background-color: transparent;
			&:active, &:focus {
				outline: none !important;
			} 
		}
	}
	.form-control {
		&, &--deadline {
			border: 1px solid #CCD9E0;
			padding: 12px;
			border-radius: 8px;
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			&::placeholder {
				color: var(--main-grey);
			}
			// color: var(--main-grey);
		}
		&--deadline {
			text-align: center;
			width: 100%;
			position: relative;
			background-color: transparent;
			&:active, &:focus {
				outline: none !important;
			} 
		}
		&:disabled {
			background-color: #ECF1F4;
			pointer-events: none;
		}
	}
}

.frequency {
	padding: 3px 0;
	&__checkboxes, &__repeat {
		display: flex;
	}
	&__counter {
		width: 74px;
	}
	& > * {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__repeat {
		align-items: center;
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			color: var(--main-black);
			margin-right: 32px;
			&:last-child {
				margin-left: 16px;
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: var(--main-grey);
			}
		}
	}
	&__repeat-info {
		display: flex;
		align-items: center;
		img {
			margin-right: 8px;
		}
		p {
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			color: #4D5F69;
		}
	}
}

.assignment-creation-bottom {
	padding: 24px;
	.btn {
		padding: 15px 0;
	}
}

.dash {
	width: 11px;
	height: 1px;
	background-color: var(--main-grey);
}
