.assignment-status {
	display: flex;
	justify-content: space-between;
	width: 94px;
	height: 22px;
	color: #ffffff;
	padding: 3px 8px 5px;
	border-radius: 4px;
	font-style: normal;
	font-weight: 500;
	white-space: nowrap;
	font-size: 14px;
	line-height: 16px;
	@media screen and (max-width: 1040px) {
		padding: 3px 6px;
		font-size: 12px;
		line-height: 14px;
		width: 82px;
	}
	&--ready {
		background-color: var(--main-green);
	}
	&--opened {
		background-color: var(--survey-blue);
	}
	&--in-process {
		background-color: var(--main-orange);
	}
	&--closed {
		background-color: var(--pale-grey);
	}
	.icon {
		stroke: #ffffff;
		color: transparent;
		width: 16px !important;
		height: 16px !important;
		margin-left: 4px;
		margin-bottom: 2px;
	}
}
.assignment-tag {
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--main-grey);
	background-color: #F2F4F5;
	padding: 4px 8px;
	border-radius: 4px;
	font-style: normal;
	white-space: nowrap;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	&__close {
		margin-top: -4px;
	}
	P {
		text-transform: uppercase;
	}
	@media screen and (max-width: 1040px) {
		padding: 3px 6px;
		font-size: 12px;
		line-height: 14px;
	}
	.icon {
		color: var(--main-grey);
		width: 9px !important;
		height: 9px !important;
	}
}
.assignment-add {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	min-width: 28px;
	height: 20px;
	background-color: var(--survey-blue);
	border: none;
	border-radius: 4px;
	@media screen and (max-width: 1040px) {
		padding: 0px 6px;
	}
	.icon {
		color: #ffffff;
		width: 16px !important;
		height: 16px !important;
	}
}

.filter-chip {
	background-color: var(--heavy-blue);
	padding: 6px 8px 6px 7px;
	// height: 24px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	width: max-content;
	&__filter-name {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		margin-right: 5px;
	}
	.btn {
		padding: 0;
		border: none;

	}
	.icon {
		color: var(--heavy-blue);
		stroke: var(--heavy-blue);
		width: 7px;
		height: 7px;
	}
	&__delete {
		background-color: #ffffff;
		border-radius: 50%;
		min-width: 14px;
		min-height: 14px;
		max-width: 14px;
		max-height: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover, &:focus, &:active {
			background-color: #ffffff !important;
		}
	}
}
