@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:math.div(13,10)*1rem;
	width: math.div(8,13)*1em;
}
.icon-arrow-left {
	font-size:math.div(8,10)*1rem;
	width: math.div(13,8)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(8,10)*1rem;
	width: math.div(8,8)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-file {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-most-popular {
	font-size:math.div(5,10)*1rem;
	width: math.div(6,5)*1em;
}
.icon-private {
	font-size:math.div(12,10)*1rem;
	width: math.div(14,12)*1em;
}
.icon-seen {
	font-size:math.div(14,10)*1rem;
	width: math.div(24,14)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
