.side-sheet-top {
	&__text {
		background: #264152;
		border-radius: 4px;
		padding: 3px 6px 2px; 
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		margin-left: 12px;
		margin-right: auto;
		@media screen and (max-width: 744px) {
			margin-left: auto;
			margin-right: 0;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			padding: 1px 4px;
		}
	}
}
.side-sheet  {
	&__container {
		margin-bottom: 16px;
	}
}

.privat-chat-participants-list {
	flex-grow: 1;
	overflow-y: auto;
	margin-top: 16px;
}
.privat-chat-participant {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	.sender {
		margin: 0 !important;
	}
	img + img {
		margin-left: 16px;
	}
	img:first-of-type {
		margin-left: auto;
	}
}