.person-card {
	background: #FFFFFF;
	border-radius: 16px;
	padding: 40px;
	width: 100%;
	height: 100%;
	&__top {
		display: flex;
	}
	&__supervisor-info {
		max-width: 340px;
	}
	&__photo {
		min-width: 100px;
		max-width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 24px;
		img {
			height: 100%;
		}
	}
	&__online {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--main-grey);
	}
	&__info {
		flex-grow: 1;
	}
	&__fio-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__fio {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}
	&__personal-chat {
		svg {
			width: 24px;
			height: 24px;
		}
	}
	&__status {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--heavy-blue);
	}
	&__email-info {
		color: #33B4FF !important;
	}
}
.bold-description {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--main-black);
}
.grey-header {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--pale-grey);
	margin-bottom: 4px;
}
.container-mb8 {
	margin-bottom: 8px;
}
.container-mb16 {
	margin-bottom: 16px;
}
.container-mb24 {
	margin-bottom: 24px;
}
.container-mb32 {
	margin-bottom: 32px;
}