.working-mode-warn-collegues {
	.participants-search-block {
		margin-top: 0;
	}
	.assignment-creation-content {
		flex-grow: 1;
	}
	.create-chat__main-content {
		flex-grow: unset;
		height: 100px;
		min-height: 100px;
	}
}
.assignment-creation-content {
	&__choose-addressee {
		display: flex;
		align-items: center;
		justify-content: space-between;
		button {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: #33b4ff;
		}
	}
	&__addressee-list {
		flex-grow: 1;
		padding-top: 24px;
		overflow: auto;
		border-top: 1px solid #e5ecef;
		border-bottom: 1px solid #e5ecef;
		& > * {
			margin-bottom: 24px;
		}
		max-width: 100%;
	}
}
.create-chat {
}
