.assignment-report-top {
	padding: 16px 0;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__navigation {
		display: flex;
		align-items: center;
		.icon {
			width: 18px;
			height: 12px;
			fill: var(--survey-blue);
			margin-right: 11px;
			margin-bottom: 2px;
		}
	}
	&__reports {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}
	.tabs__tab {
		width: 226px;
	}
	&__settings {
		display: flex;
		align-items: center;
		svg, image {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}
	&__download-excel, &__filter {
		display: flex;
		align-items: center;
	}
	&__download-excel {
		margin-left: 16px;
	}
	&__filter {
		margin-left: 32px;
		svg, image {
			width: 16px;
			height: 16px;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}
	&__filters {
		display: flex;
		margin-top: 16px;
		overflow-x: scroll;
		width: 100%;
		box-sizing: content-box;
		height: 43px;
		margin-bottom: -16px;
		&::-webkit-scrollbar {
			width: 0;
		}
		& > * {
			margin-right: 8px;
		}
	}
	&__filters-counter {
		display: flex;
		align-items: center;
		margin: 0 -10px 0 8px;
	}
	&__counter {
		font-weight: 400;
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 0.015em;
		background: #DEF0FB;
		border-radius: 4px;
		padding: 2px 4px;
		margin-right: 10px;
	}
	&__clean {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background-color: var(--main-grey);
		.icon {
			width: 12px;
			height: 12px;
			fill: #ffffff;
			margin-right: 0;
		}
	}
}