.assignment-card {
	height: 100%;
	max-width: 417px;
	border-radius: 8px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	padding: 20px;
	overflow: hidden;
	&__wrap {
		flex-grow: 1;
		overflow: auto;
		& > * {
			margin-bottom: 16px;
		}
	}
	& > * {
		margin-bottom: 16px;
	}
	&__creator-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
	}
	&__creator {
		width: 89%;
	}
	&__role {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: var(--main-grey);
		margin-bottom: 14px;
	}
	&__request-info {
		.message--incoming {
			margin-top: 11px;
			background-color: #ecf1f4;
			&::before {
				background-image: url(../img/svg/message-sidesheet.svg);
				left: 0;
			}
		}
	}
	&__planned-terms {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		span {
			color: var(--main-grey);
		}
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 8px !important;
		& > * {
			margin: 0 8px 8px 0;
		}
	}
	&__needs-solution {
		input[type="textarea"] {
			height: 73px;
			margin-bottom: 8px;
		}
	}
	&__decision {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		& > * {
			width: 47%;
		}
	}
	&__prolongue-sent {
		padding: 8px 17px;
		background-color: #ECF1F4;
		border-radius: 12px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--main-grey);
		text-align: center;
	}
	&__progress-circles {
		display: flex;
		justify-content: space-between;
		align-items: top;
	}
	&__circle {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: var(--survey-blue);
	}
}

.assignment-card-top {
	&__info {
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__icon {
		width: 13px;
		height: 11px;
	}
	&__status {
		margin: 0 16px 0 8px;
	}
	&__name {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 8px;
		.icon {
			font-size: 8px;
			min-width: 8px;
			margin-right: 7px;
			color: var(--main-red);
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		margin-left: auto;
	}
	&__menu, &__close {
		background-color: transparent;
		padding: 0;
		border: 0;
	}
	&__close {
		img {
			width: 14px;
		}
		margin: 0 5px 0 21px;
	}
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--heavy-blue);
		max-width: 250px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.creator {
	display: flex;
	align-items: center;
	&__avatar {
		overflow: hidden;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		min-height: 35px;
		min-width: 35px;
		left: 0px;
		img {
			height: 35px;
		}
	}
	&__name-and-position {
		margin-left: 8px;
		font-style: normal;
		width: 87%;
	}
	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 1px;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__info {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--main-grey);
	}
	&__role {
		// color: #09B37B;
		margin-right: 8px;
	}
	&__department {
		margin-left: 8px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -8px;
			top: 3px;
			width: 1px;
			height: 12px;
			background-color: #CCD9E0;
		}
	}
	&__position {
		margin-right: 8px;
	}
}

.real-labor-costs {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 14px;
	}
	&__planned-terms {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		span {
			color: var(--main-grey);
			text-transform: uppercase;
		}
	}
	&__show {
		width: 24px;
		height: 24px;
		min-width: 24px;
		min-height: 24px;
		border-radius: 4px;
		background: #DEF0FB;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			width: 20px;
			height: 20px;
			stroke: var(--survey-blue);
			stroke-width: 1.5px;
			color: transparent;
		}
	}
	&__person {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 14px;
	}
	&__time {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: var(--main-black);
	}
}

.priority-block {
	display: flex;
	&__icon {
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		&--not-urgent {
			color: var(--main-green);
		}
		&--critical {
			color: var(--main-red);
		}
		&--desirable {
			color: var(--main-orange);
		}
		&--important {
			color: var(--dark-orange);
		}
	}
}

.progress-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2px;
	&__scale {
		position: relative;
		width: 78.5%;
		height: 8px;
		background: #CFE8F7;
		border-radius: 8px;
	}
	&__progress {
		position: absolute;
		height: 8px;
		background: var(--survey-blue);
		border-radius: 8px;
	}
	&__show {
		width: 24px;
		height: 24px;
		min-width: 24px;
		min-height: 24px;
		border-radius: 4px;
		background: #DEF0FB;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			width: 20px;
			height: 20px;
			stroke: var(--survey-blue);
			stroke-width: 1.5px;
			color: transparent;
		}
	}
	&__amount {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		color: var(--main-grey);
	}
}

.prolong {
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > * {
			width: 47%;
		}
		&--accept {
			& > * {
				&:first-child {
					width: 68%;
				}
			}
			.icon-accept {
				width: 24px;
				height: 24px;
			}
			.icon-close-cross {
				width: 14px;
			}
		}
	}
	&__accept, &__decline {
		width: 48px;
		border: none;
	}
	&__header {
		display: flex;
		align-items: center;
		padding: 2px 0;
		margin-bottom: 4px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #4D5F69;
		p + p {
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.08px;
			color: var(--main-red);
			margin-left: 2px;
		}
	}
}

.header-star {
	display: flex;
	align-items: center;
	padding: 2px 0;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #4D5F69;
	p + p {
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.08px;
		color: var(--main-red);
		margin-left: 2px;
	}
}

.solution-decline {
	display: flex;
	align-items: center;
	border-radius: 7px;
	padding: 6px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: white;
	background-color: #F38B00;
	width: max-content;
}