extends ../layout/main.pug
include ../blocks/assignment-card/_assignment-card.pug

block variables
	- let  mainPage= null
	- let  bg= null
	- let bigtext = `<a class='private-chat-create' href='#'>@Андрей Паин</a>, необходимо прикрепить файлы по итогам проведенного исследования `
	- let question = 'Запакеровались на глубине 1754.2 м. Что делаем дальше?'
block title
	- let  title= index.head.title
	title= title
block pagecontent
	.p-sm-5
		.row(style="background-color: grey")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "opened", "not-urgent", "executer", "15.08.22 14:00", "15.08.22 14:00", false, false, "has-solution", "allowed")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 15, "opened", "critical", "executer", "15.08.22 14:00", "15.08.22 14:00", "needs", false, "no-solution")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 25, "opened", "desirable", "executer", "15.08.22 14:00", "15.08.22 14:00", "sent",  false, "two-days")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 10, "opened", "important", "executer", "15.08.22 14:00", "15.08.22 14:00", "accepted", false, "closed", "allowed")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "closed", "not-urgent", "executer", "15.08.22 14:00", "15.08.22 14:00", "decline-edit", false, "has-solution")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "closed", "critical", "executer", "15.08.22 14:00", "15.08.22 14:00", false, false, "deadline", "allowed")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "closed", "desirable", "executer", "15.08.22 14:00", "15.08.22 14:00", "needs", "prolong", "has-solution")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "closed", "important", "executer", "15.08.22 14:00", "15.08.22 14:00", "needs", "prolong-accept", "has-solution")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "in-process", "not-urgent", "executer", "15.08.22 14:00", "15.08.22 14:00", "needs", "prolong-decline", "has-solution")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "in-process", "critical", "author", "15.08.22 14:00", "15.08.22 14:00")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "in-process", "important", "author", "15.08.22 14:00", "15.08.22 14:00", "waits")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "ready", "not-urgent", "author", "15.08.22 14:00", "15.08.22 14:00", "accepted")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "ready", "critical", "author", "15.08.22 14:00", "15.08.22 14:00", "needs", "prolong")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "ready", "desirable", "author", "15.08.22 14:00", "15.08.22 14:00", false, "prolong-accept", "no-solution", "allowed")
			.col-lg-6.p-sm-4(style="height: 100vh")
				+assignment_card(9, 30, "ready", "desirable", "observer", "15.08.22 14:00", "15.08.22 14:00", false, "prolong-accept", "no-solution", "allowed")