extends ../layout/main.pug
include ../blocks/calendar/calendar-day/_calendar-day.pug
include ../blocks/calendar/calendar-week/_calendar-week.pug
include ../blocks/calendar/calendar-month/_calendar-month.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= index.head.title
	title= title
	- let bigtext = `<a href='#'>@Пользователь</a>, consectetur adipiscing elit. Morbi vel mi gravida, tincidunt nulla nec, porttitor libero. Vestibulum ut libero vel nunc hendrerit ullamcorper id eu lacus. Curabitur id eleifend nibh.`
	- let question = 'Запакеровались на глубине 1754.2 м. Что делаем дальше?'
block pagecontent
	.p-2(style="background-color: var(--main-grey); height: 100vh; overflow: auto")
		+calendar_day(20, 22, `Вторник`, `Вт`, "Декабря", 5)
	.p-2(style="background-color: var(--main-grey); height: 100vh; overflow: auto")
		+calendar_week("19-23", 22, `34 неделя`, `Вт`, "Декабря", 5)
	.p-2(style="background-color: var(--main-grey); height: 100vh; overflow: auto")
		+calendar_month("", 22, ``, ``, "Декабрь", 5)