extends ../layout/main.pug
include ../blocks/wide-popup/_wide-popup.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= index.head.title
	title= title
block pagecontent
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+wide_popup(false, "clasters")
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+wide_popup(false, "projects")
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+wide_popup(false, "license-areas")
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+wide_popup(false, "well")
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+wide_popup(true, "clasters")