extends ../layout/main.pug
include ../blocks/working-mode-request-creation/working-mode-request-creation-add/working-mode-request-creation-add.pug
include ../blocks/working-mode-request-creation/working-mode-request-creation-main/working-mode-request-creation-main.pug
include ../blocks/working-mode-rejection-reason/_working-mode-rejection-reason.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= index.head.title
	title= title
block pagecontent
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+working_mode_request_creation_main(false)
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+working_mode_request_creation_main(true)
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+working_mode_request_creation_add()
	.p-sm-5(style="background-color: grey; height: 100vh; display: flex; justify-content: center;")
		+working_mode_rejection_reason()