.round-filter-chip {
	display: flex;
	align-items: center;
	padding: 6px 14px;
	height: 28px;
	border: 1px solid var(--heavy-blue);
	border-radius: 100px;
	margin-right: 16px;
	&:focus, &.active {
		background-color: var(--heavy-blue);
		color: #ffffff;
		.icon {
			display: block;
		}
	}
	&:last-child {
		margin: 0;
	}
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
	}
	.icon {
		fill: #ffffff;
		width: 12px;
		margin-right: 6px;
		display: none;
	}
	&.active {
		background-color: var(--heavy-blue);
		color: #ffffff;
	}
}