include ./components/working-mode-top/working-mode-top.pug
include ./components/working-mode-headers/working-mode-headers.pug
include ./components/working-mode-request/working-mode-request.pug

mixin working_mode_requests(name, type)
	+b.working-mode-requests
		+working_mode_top(name)
		+e.table
			+working_mode_headers(type)
			+e.requests-wrap.scrollbar-vertical 
				+working_mode_request(type, 234, "19.06.2022", "14:00", "no_decision", "Болею", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				+working_mode_request(type, 234, "19.06.2022", "14:00", "rejected", "Работаю из дома", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				+working_mode_request(type, 234, "19.06.2022", "14:00", "accepted", "Отсутствую", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				+working_mode_request(type, 234, "19.06.2022", "14:00", "canceled", "Командировка в Сыктывкар", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				+working_mode_request(type, 234, "19.06.2022", "14:00", "no_decision", "Болею", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				+working_mode_request(type, 234, "19.06.2022", "14:00", "rejected", "Работаю из дома", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "accepted", "Отсутствую", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "canceled", "Командировка в Сыктывкар", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "no_decision", "Болею", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "rejected", "Работаю из дома", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "accepted", "Отсутствую", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "canceled", "Командировка в Сыктывкар", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "no_decision", "Болею", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "rejected", "Работаю из дома", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "accepted", "Отсутствую", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "canceled", "Командировка в Сыктывкар", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "no_decision", "Болею", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "rejected", "Работаю из дома", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "accepted", "Отсутствую", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
				//- +working_mode_request(type, 234, "19.06.2022", "14:00", "canceled", "Командировка в Сыктывкар", "11.09.22 03:30", "17.09.22 03:30", "Отфильтровываются запросы на изменение режима работы, Отфильтровываются запросы на изменение режима работы")
