include ../assignment-statuses/_assignment-statuses.pug
include ../assignment-card/_assignment-card.pug
include ./components/priority/assignment-calendar-priority.pug
include ./components/status/work-status.pug
include ./components/chips/chips.pug

mixin assignment_calendar_top(rework, priority, work_status, solution_status, text, deadline)
	+b.assignment-calendar-top
		+e.top
			if rework
				+e.SVG.refresh
					image(href=`img/svg/arrow-circle.svg`)
			+assignment_calendar_priority(priority)
			+e.adaptive-hide
				+work_status(work_status)
				+e.name(class=`--${solution_status}`)
					+icon("active")
					+e.P.text Название задачи
				+e.P.number-and-terms(class=(solution_status!='has' ? `--needs ` : '') + (deadline ? "deadline" : '')) №12 до 21.12.2022
		+e.assignment-text!=text

mixin assignment_calendar_on-board(rework, priority, work_status, solution_status, text, deadline, solution_revision, overdue)
	+b.assignment-calendar-on-board
		+e.main
			+e.line-start
				if rework
					+e.SVG.refresh
						image(href=`img/svg/arrow-circle.svg`)
				+assignment_calendar_priority(priority)
				+e.work-status
					+work_status(work_status)
				+e.name(class=`--${solution_status}`)
					+icon("active")
					+e.P.text Название задачи Название задачи
			+e.P.number-and-terms(class=(solution_status!='has' ? `--needs ` : '') + (deadline ? "deadline" : '')) №12 до 21.12.2022
			+e.assignment-text!=text
		if solution_revision != undefined
			+e.bottom
				if solution_revision=="revision"
					+calendar_revision()
				else 
					+calendar_solution(solution_revision)
				if overdue
					+e.P.overdue Просрочен