.week-day {
	height: 100%;
	width: 20%;
	border-right: 1px solid #ECF1F4;
	&:last-child {
		border-right: none;
	}
	&.today {
		background-color: #F5F9FC;
		.assignment-calendar-on-board {
			background-color: #ffffff;
		}
	}
	&__day {
		padding: 12px 16px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ECF1F4;
	}
	&__number {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		margin-right: 16px;
	}
	&__name {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
	}
	&__assignments {
		padding: 64px 8px 0px;
	}
}
