.icon.icon-seen {
	fill: var(--survey-blue);
	margin-left: 8px;
	height: 13px;
	width: 24px;
}
.message {
	padding: 12px;
	border-radius: 0 12px 12px 12px;
	max-width: 500px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 17px;
		height: 19px;
		top: rem(-6.7);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 2;
	}
	.chip-body {
		display: flex;
		align-items: center;
		border-radius: 7px;
		padding: 6px;
		p {
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: white;
			margin: 0;
		}
	}
	&--incoming {
		background-color: white;
		border-radius: 0 12px 12px 12px;
		&::before {
			left: 0;
			background-image: url(../img/svg/message-in-bg.svg);
		}
	}
	&--sent {
		align-self: flex-end;
		background-color: var(--sent-message);
		border-radius: 12px 0 12px 12px;
		&::before {
			right: rem(-0.3);
			background-image: url(../img/svg/message-sent-bg.svg);
		}
	}
	.text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		color: var(--main-black);
		&.survey-question {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 4px;
		}
	}
	&__content {
		display: flex;
		flex-flow: row wrap;
		overflow-x: clip;
		.text {
			max-width: 100%;
		}
		.date-block {
			margin-left: auto;
			display: flex;
			align-items: center;
			// .icon {
			// 	fill: var(--survey-blue);
			// 	margin-left: 8px;
			// 	height: 13px;
			// 	width: 24px;
			// }
		}
		.date {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			margin-left: 16px;
			margin-top: 3px;
			color: var(--main-grey);
		}
	}
	&__documents {
		width: 100%;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	&__doc-pic {
		width: 40px;
		min-width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--icon-primary);
		border-radius: 50%;
		.icon {
			font-size: 24px;
			color: #ffffff;
		}
	}
	&__document {
		margin-bottom: 8px;
		display: flex;
		picture {
			width: 40px;
			height: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-info {
			margin-left: 6px;
			font-weight: 400;
			p {
				margin: 0;
			}
			.document-title {
				font-style: normal;
				font-size: 16px;
				line-height: 130%;
				color: var(--main-grey);
			}
			.document-size {
				color: var(--secondary-grey);
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	&__table {
		margin-top: 8px;
		width: 100%;
		// font-family: 'roboto condensed';
		table {
			width: 100%;
			border-left: 2px solid #0096eb;
		}
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: var(--main-black);
		td {
			@include media-breakpoint-down(md) {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
		.header {
			font-weight: 400;
		}
		.name {
			color: var(--main-grey);
			@include media-breakpoint-up(md) {
				width: 196px;
				max-width: 196px;
			}
			width: 50%;
			max-width: 50%;
		}
		.header,
		.name {
			padding-left: 8px;
		}
		.value {
			font-weight: 700;

			text-align: right;
		}
	}
	&__request {
		width: 100%;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		.request-date {
			margin-left: auto;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
		}
		&--none {
			display: none;
		}
		&--my {
			.icon {
				width: 8px;
				height: 12px;
				stroke: white;
				stroke-width: 2px;
				stroke-linecap: round;
				margin-right: 7px;
			}
			.chip-body {
				background-color: #56b9f2;
			}
			.request-date {
				color: var(--heavy-blue);
			}
		}
		&--solution {
			.chip-body {
				background-color: #22c38e;
			}
			.request-date {
				color: var(--main-grey);
			}
		}
		&--another {
			.icon {
				display: none;
				&-arrow-left {
					display: block;
					stroke: var(--main-grey);
					stroke-width: 2px;
					stroke-linecap: round;
					width: 12px;
					height: 8px;
					margin: auto 8px;
				}
			}
			.reply-to {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 120%;
				// color: var(--main-grey);
			}
			.chip-body {
				background-color: #667985;
			}
			.request-date {
				color: var(--main-red);
			}
		}
		&--private {
			margin-bottom: 16px;
			flex-wrap: wrap;
			justify-content: space-between;
			.chip-body {
				background-color: #002033;
			}
			.icon {
				&-private {
					display: block;
					stroke: white;
					width: 12px;
					height: 10px;
					stroke-width: 2px;
					stroke-linecap: round;
					margin-right: 5px;
				}
			}
			.enter_chat {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #0096eb;
			}
		}
	}
	&__reply-request {
		width: 100%;
		margin-bottom: 8px;
		padding-left: 8px;
		border-left: 2px solid #0071b2;
		.reply-message {
			p {
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.message__request--another {
			margin-bottom: 0;
			&.reply {
				.reply-to {
					color: var(--heavy-blue);
				}
			}
		}
		table {
			width: 100%;
			border-left: 2px solid var(--heavy-blue);
			.info,
			.reply-message {
				padding-left: 8px;
			}
		}
	}
	&__avatars {
		display: flex;
		margin-top: 8px;
		.avatar {
			height: 20px;
			width: 20px;
			border-radius: 35px;
			margin-left: -4px;
			background-color: #e6ebed;
			&:first-child {
				margin-left: 0;
			}
			picture {
				height: 18px;
				width: 18px;
			}
			img {
				border-radius: 35px;
				height: 18px;
				width: 18px;
			}
		}
	}

	.form-check-input {
		width: 15px;
		min-width: 15px;
		height: 15px;
		margin-left: 0;
		margin-right: 11px;
		margin-top: 0;
		background-color: transparent;
		&:checked {
			background-color: #0096eb;
		}
		&:focus {
			box-shadow: none;
		}
	}
	.form-check-input[type="checkbox"] {
		border-radius: 2px;
		&:checked {
			background-image: url(../img/svg/check-bg.svg);
			background-color: #ffffff;
			background-size: contain;
			border: none;
		}
	}
	.form-check {
		display: flex;
		align-items: flex-start;
		padding-left: 0;
	}
	.form-check-label {
		line-height: calc(15 / 14);
	}
}
.custom-input__input {
}
.survey-variant {
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	font-style: normal;
	margin-bottom: 8px;
	&-checkbox {
		margin-bottom: 0px;
		width: 100%;

		table {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			width: 100%;
			td {
				border-bottom: 1px solid #ecf1f4;
				padding: 8px 0;
			}
		}
	}
	&__progress-bar-wrap {
		width: 100%;
		height: 4px;
		position: relative;
		margin-bottom: 4px;
	}
	&__progress-bar-bg,
	&__progress-bar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 4px;
	}
	&__progress-bar-bg {
		z-index: 1;
		width: 100%;
		background-color: #ecf1f4;
	}
	&__progress-bar {
		z-index: 2;
		background-color: #0096eb;
		transition-duration: 0.4s;
	}
	&__answer-variant {
		p {
			margin-bottom: 4px;
		}
	}
	&__votes-and-percents {
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			&.votes {
				color: var(--main-grey);
			}
		}
		.percents {
			display: flex;
			align-items: center;
		}
	}
	&__most-popular {
		border-radius: 50%;
		background-color: #0096eb;
		width: 12px;
		height: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 4px;
		margin-top: 1px;
		.icon {
			fill: #ffffff;
			font-size: 8px;
		}
	}
}

.survey {
	width: 100%;
	&__total {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		width: 100%;
		text-align: center;
		color: var(--main-grey);
		margin-bottom: 8px;
		margin-top: 8px;
	}
	&__info {
		display: flex;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--main-grey);
		margin-bottom: 10px;
	}
	&__until-date {
		padding-left: 18px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 8px;
			top: 60%;
			transform: translateY(-50%);
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: #667985;
		}
	}
}
