mixin select_filter()
	+b.select-filter 
		+e.BUTTON.options.clean-btn
			p Все уведомления
		+e.BUTTON.options.clean-btn
			p Чаты
		+e.BUTTON.options.clean-btn.selected
			p Структура
		+e.BUTTON.options.clean-btn
			p Поручения
		+e.BUTTON.options.clean-btn
			p Изменение режима работы