.wide-popup {
	background: #ffffff;
	border-radius: 16px;
	max-width: 1080px;
	max-height: 944px;
	width: 56.25%;
	display: flex;
	flex-direction: column;
	.tabs__tab {
		width: 131px;
	}
	.search-field {
		width: unset;
		min-width: 0;
		flex-grow: 1;
	}
	input {
		min-width: 0;
	}
	&__empy-plug {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 83px;
			height: 100px;
			margin-bottom: 20px;
		}
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		color: var(--main-grey);
		text-align: center;
		p {
			margin-bottom: 30px;
		}
	}
	&__container {
		max-width: 288px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: 0.4s;
		padding: 0;
		background-color: var(--survey-blue);
		border: none;
	}
	&__btn:hover {
		background-color: var(--heavy-blue);
	}
	&__btn .icon {
		width: 24px;
		height: 24px;
		color: #ffffff;
		margin-bottom: 0;
	}
}
