.month-day {
	width: 100%;
	min-width: 100%;
	height: 100%;
	border-bottom: 1px solid #ECF1F4;
		border-right: 1px solid #ECF1F4;
	&__day-number {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 2px;

	}
	&__day {
		height: 31px;
		padding: 6px;
		border-radius: 0px 0px 0px 8px;;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: var(--main-grey);
	}
	&__assignments {
		margin-bottom: 4px;
		padding: 0 6px;
	}
	&.another-month {
		background-color: #F5F9FC;
		.month-day__day {
			color: var(--secondary-grey);
		}
	}
	&.today {
		.month-day__day {
			background-color: var(--heavy-blue);
			color: #ffffff;
		}
	}
	&.weekends {
		.month-day__day {
			color: var(--secondary-grey);
		}
	}
	
}