include ../kanban-type/kanban-type.pug
include ../kanban-line/kanban-line.pug
include ../kanban-card/kanban-card.pug

mixin kanban_content(bigtext)
	+b.kanban-content.scrollbar-vertical.scrollbar-horisontal
		+e.wrap
			+e.statuses
				+e.column
					+kanban_type-active("opened", 2, 'Открытые', true)
				+e.sub-column
					+kanban_type("opened", 1, 'Лучше выполнить')
				+e.sub-column
					+kanban_type("opened", 1, 'Ещё один')
				+e.column
					+kanban_type("in-process", 2, 'В работе', true)
				//- +e.sub-column
					+kanban_type("in-process", 2, 'Важные')
				+e.column
					+kanban_type("ready", 2, 'Готовые', true)
				//- +e.sub-column
					+kanban_type("ready", 2, 'Сделать отчет')
				+e.column
					+kanban_type("closed", 2, 'Закрытые', true)
				//- +e.sub-column
					+kanban_type("closed", 2, 'Проверить')
			+kanban_line("Название дорожки с запросами", 25)
			+kanban_line-active("Название дорожки с запросами", 14)
			+e.requests
				+e.column-card 
					+kanban_card('opened', "no-solution",  "not-urgent", "КРС", "Викторовский В.А.", "Эксперт", 15, 7)
					+kanban_card('opened', "two-days", "critical", "КРС", "Викторовский В.А.", "Эксперт", 30, 25)
				+e.sub-column-card
					+kanban_card('opened', "has-solution", "desirable", "КРС", "Викторовский В.А.", "Эксперт", 15, 10)
				+e.sub-column-card
					+kanban_card('opened', "closed", "important", "КРС", "Викторовский В.А.", "Эксперт", 15, 5)
					+kanban_card('opened', "has-solution", "desirable", "КРС", "Викторовский В.А.", "Эксперт", 15, 10)
				+e.column-card
					+kanban_card('in-process', "deadline", "not-urgent", "КРС", "Викторовский В.А.", "Эксперт", 15, 2)
				+e.column-card
					+kanban_card('ready', "deadline", "not-urgent", "КРС", "Викторовский В.А.", "Эксперт", 15, 2)
				+e.column-placeholder
			+kanban_line("Дорожка с запросами", 55)
			+kanban_line("Название дорожки с запросами", 25)
