include ../../assignment-calendar-top/_assignment-calendar-top.pug
include ../components/calendar-navigation.pug
include ./components/month-day.pug

mixin calendar_month(day, year, week_day, week_day_short, month, n)
	+b.calendar-month
		+calendar_navigation(true, day, month, year, week_day, week_day_short)
		+e.week-days 
			+e.day-name Пн
			+e.day-name Вт
			+e.day-name Ср
			+e.day-name Чт
			+e.day-name Пт
			+e.day-name--weekend Сб
			+e.day-name--weekend Вс
		+e.month
			- for (i=28; i < 31; i++)
				+month_day-another-month(i)
			+month_day(1)
			+month_day(2)
			+month_day-weekends(3)
			+month_day-weekends(4)
			- for (i=5; i < 10; i++)
				+month_day(i)
			+month_day-weekends(10)
			+month_day-weekends(11)
			- for (i=12; i < 17; i++)
				+month_day(i)
			+month_day-weekends(17)
			+month_day-weekends(18)
			+month_day(19)
			+month_day-today(20)
			- for (i=21; i < 24; i++)
				+month_day(i)
			+month_day-weekends(24)
			+month_day-weekends(25)
			- for (i=26; i < 31; i++)
				+month_day(i)
			+month_day-weekends(31)
			+month_day-another-month(1)