include ../components/calendar-navigation.pug
include ./components/week-day.pug
include ../../assignment-calendar-top/_assignment-calendar-top.pug

mixin calendar_week(day, year, week_day, week_day_short, month, n)
	+b.calendar-week 
		+calendar_navigation(true, day, month, year, week_day, week_day_short)
		+e.tasks 
			+e.tuesday.days-4
				+assignment_calendar_top(true, "not-urgent", "opened", "has", bigtext, true)
			+e.monday.days-5
				+assignment_calendar_top(true, "not-urgent", "opened", "has", bigtext, true)
			+e.friday.days-1 
				+assignment_calendar_top(false, "desirable", "closed", "no", question, true)
			+e.thursday.days-2 
				+assignment_calendar_top(false, "important", "in-process", "deadline", bigtext)
			+e.wednesday.days-3 
				+assignment_calendar_top(true, "critical", "ready", "has", bigtext)
			+e.BUTTON.close.clean-btn Ещё 2
		+e.days 
			+week_day(19, 'Понедельник')
			+week_day-today(20, 'Вторник')
			+week_day(21, 'Среда')
			+week_day(22, 'Четверг')
			+week_day(23, 'Пятница')
